<!DOCTYPE html>
<html>

<head>
  <!-- Drop Global Site Tag Here -->

  <title>THE TINKER PROJECT</title>
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://pub.s4.exacttarget.com/tzs4dqfpoxs/tzs4dqfpoxs" rel="stylesheet">
  
  <!--Local Style Sheet-->
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>


<body style="margin:0px auto;max-width:100%;padding:0px;">

  <div class="header dark">
    <div class="slds-container_large slds-container--center slds-grid slds-wrap slds-grid_vertical-align-center">
      <!-- Start - Logo Column-->
      <div class="slds-size_1-of-2 slds-medium-size_1-of-3">
        <div class="logo">
          <!--replace img with customer logo-->
          <a href="https://pub.s4.exacttarget.com/qp203cy5l2r"><img class="slds-p-around_x-small"
              src="https://image.s4.sfmc-content.com/lib/fe32117276640478731173/m/1/a74b4dac-b55d-4e3e-86c1-0c525c3470b5.png"
              alt="Toyota" style="font-family: arial, sans-serif; font-size:10px; color: #ffffff;"></a>
        </div>
      </div>
      <div class="slds-size_1-of-2 mobile-show">
        <div class="hamburger">
          <i class="fas fa-bars"></i></div>

      </div>
      <div class="slds-size_1-of-1 slds-medium-size_2-of-3">
        <div class="slds-p-left_x-large">


          <div class="slds-text-align_right navigation">
          </div>

        </div>
      </div>




    </div>
  </div>
  <!---POV--->
  <div id="POV">

    <div class="slds-container_large slds-container--center">

      <div class="slds-p-top_xx-large slds-p-bottom_x-large">

        <div class="slds-grid slds-wrap">

          <div class="slds-size_1-of-1 slds-small-size_7-of-12 slds-p-bottom_large">

            <div class="slds-text-heading_large slds-p-top_medium">The Tinker Project: TEMPLATE </div>
           
            <div class="slds-p-vertical_small slds-text-heading_medium">New Title <br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam malesuada risus eget molestie fermentum. Phasellus dictum ut ipsum id dictum. In venenatis nunc sed nulla bibendum sollicitudin. In tempus nulla at luctus pulvinar. Suspendisse quis pretium diam. Proin non ex posuere, placerat ligula non, auctor quam. In gravida purus lorem, vitae venenatis odio commodo quis. Ut sodales fringilla arcu ac mattis. Donec mauris enim, faucibus eget erat eget, tempor pharetra neque. Donec nec accumsan nibh. Vivamus a justo pellentesque, posuere odio nec, blandit orci. Suspendisse id condimentum nunc, vitae rhoncus quam. Sed finibus ante leo, in maximus diam elementum at. Nunc ut elit elit.</p><br>
            </div>



          </div>

          <div class="slds-small-size_1-of-12 mobile-hidden">
          </div>

          <div class="slds-size_1-of-1 slds-small-size_4-of-12">


            <div class="slds-p-top_large slds-p-bottom_large slds-p-horizontal_large form-wrapper" id="mainForm">
              <div class="slds-text-heading_large slds-p-top_medium slds-text-align_center" style="color: #215CA0;">Sign
                Up Today</div>
              <div class="slds-p-vertical_small slds-text-align_center">
                <p>Tell us a bit about yourself and we'll get you on your way!</p>
              </div>


              <form action="#" id="mainFormBody" method="post" class="">


                <div class="slds-p-bottom_small">
                  <label class="slds-form-element__label" for="firstname">
                    <abbr class="slds-required" title="required">*</abbr>First Name</label>
                  <div class="formfield-input slds-p-horizontal_x-small">
                    <input class="slds-input" id="firstname" name="firstname" placeholder="Dwight" type="text"
                      required=""></div>
                </div>
                <div class="slds-p-bottom_small">
                  <label class="slds-form-element__label" for="lastname">
                    <abbr class="slds-required" title="required">*</abbr>Last Name</label>
                  <div class="formfield-input slds-p-horizontal_x-small">
                    <input class="slds-input" id="lastname" name="lastname" placeholder="Schrute" type="text"
                      required=""></div>
                </div>

                <div class="slds-p-bottom_small">
                  <label class="slds-form-element__label" for="Email">
                    <abbr class="slds-required" title="required">*</abbr>Email Address</label>
                  <div class="formfield-input slds-p-horizontal_x-small">
                    <input class="slds-input" id="Email" name="Email" placeholder="DkSchrute@dundermiflin.com"
                      type="text" required=""></div>
                </div>
                <div class="slds-p-bottom_small">
                  <div class="slds-size_1-of-1 slds-medium-size_1-of-1">
                    <label class="slds-form-element__label" for="Mobile">
                      <abbr class="slds-required" title="required">*</abbr>Mobile Number (include leading "1")</label>
                    <div class="formfield-input slds-p-horizontal_x-small">
                      <input class="slds-input" id="Mobile" name="Mobile" placeholder="1 000-555-1234" type="text"
                        required=""></div>
                  </div>
                </div>

                <div class="slds-p-bottom_small">
                  <div class="slds-size_1-of-1 slds-medium-size_1-of-1">
                    <label class="slds-form-element__label" for="Location">
                      <abbr class="slds-required" title="required">*</abbr>Country Code (US, CA)</label>
                    <div class="formfield-input slds-p-horizontal_x-small">
                      <input class="slds-input" id="Location" name="Location" placeholder="US, CA" type="text"
                        required=""></div>
                  </div>
                </div>

                <div class="slds-p-vertical_small slds-text-align_center">

                  <!--<input class="form-button" id="submitBtn" type="submit" value="Submit">-->
                  <button class="slds-button slds-button_brand" type="submit" value="Submit">SUBMIT INFORMATION</button>
                </div>
              </form>

            </div>

            <div class="slds-p-top_xx-large slds-p-bottom_x-large slds-p-horizontal_x-large form-wrapper" id="thankYou"
              style="display: none;">


              <div class="slds-text-heading_large slds-p-top_medium slds-text-align_center" style="color: #215CA0;">
                Thank You!</div>
              <div class="slds-text-heading_small slds-p-vertical_small slds-text-align_center">
                <p>Your information has been submitted! Keep an eye out for personalized communications as you start on
                  your Marketing Cloud Journey!</p>
              </div>
              <div class="push">
              </div>
            </div>


          </div>


        </div>


      </div>
    </div>


  </div>
  <!---.POV--->

  <div>
    <footer class="footer">

      <div class="slds-conta  iner_large slds-container--center">


        <div class="disclaimer slds-p-vertical_large slds-text-align_center">
          Built on <span class="salesforce"></span></div>



        <div class="slds-text-align_center slds-p-bottom_x-large">Questions? Contact<br>
          <!---Name, Title---->Anthony Best,
          Enterprise Architect Hopeful
          <br>
          <!--Contact Info----><a href="mailto:abest@salesforce.com">abest@salesforce.com</a></div>



      </div>


    </footer><!-- End of footer-->

    <script>
      $(function () {
        //alert ("form submitted")
        $('form#mainFormBody').on('submit', function (event) {
          event.preventDefault();
          var email = $("#Email").val();
          var fname = $("#firstname").val();
          var lname = $("#lastname").val();
          var phone = $("#Mobile").val();
          var location = $("#Location").val();

          if (phone.length < 11) {
            alert(phone);
            phone = "1" + phone;
            alert(phone);
          }
          $.ajax({
            type: "POST",                                                    // Submission Type. 
            url: "/handleform",                        // Page that we are submitting to. Use AMPScript to get the URL of the current page       
            data: "action=signup&Email=" + email + "&fname=" + fname + "&phone=" + phone + "&lname=" + lname + "&location=" + location,
            success: function (data) {                                        // This is the function that is called when the ajax returns sucessfully in this case data will 
              console.log(data);                                                                 // contain the out variable from SSJS
              try {
                if (data.Message == "Success") {
                  $("#mainForm").slideUp("slow", function () { });
                  $("#thankYou").slideDown("slow", function () { });        // Use jQuery to set the HTML of the div in the body to the SampleMessage from the SSJS output object.
                }
              }
              catch (msg) {

              }
            }
          });
        });
      });
    </script>

    <script>
      $(".hamburger").click(function () {


        $content = $(".navigation");
        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $content.slideToggle(500, function () {

        });

      });

    </script>



    <script>
      function phoneFormatter() {
        $('#Mobile').on('input', function () {
          var number = $(this).val().replace(/[^\d]/g, '')
          if (number.length == 7) {
            number = number.replace(/(\d{3})(\d{4})/, "$1$2");
          } else if (number.length == 10) {
            number = number.replace(/(\d{3})(\d{3})(\d{4})/, "$1$2$3");
          }
          $(this).val(number)
        });
      };

      $(phoneFormatter);      
    </script>
  </div>
</body>

</html>