button,
          .button {
              background-color: #990000;
              color: #ffffff;
              border-radius: 0px;
          }
  
          button.buttonblock,
          td.buttonblock {
              background-color: #990000;
          }
  
          a {
              color: #990000;
          }
  
          .form-button:hover,
          button.buttonblock:hover,
          td.buttonblock:hover {
              opacity: 0.8;
              transition: all 0.1s ease;
              cursor: pointer;
          }
  
          .header>.logo {
              max-width: 200px;
          }
  
          .logo img:first-of-type {
              max-height: 51px;
          }
  
          .header.dark {
              background: #ffffff;
              color: #58595b;
              text-transform: uppercase;
              position: sticky;
              top: 0px;
              z-index: 500;
              border-top: 3px solid #EB0A1E;
          }
  
          .header.light {
              background: #ffffff;
              border-top: 3px solid #19274c;
              color: #4f4f4f;
              text-transform: uppercase;
              position: sticky;
              top: 0px;
              z-index: 500;
          }
  
          .navigation li {
              padding-left: 20px;
              padding-right: 20px;
              display: inline-block;
          }
  
  
          .navigation li a {
              text-decoration: none;
              transition: all 0.1s ease;
  
          }
  
          .navigation li:last-of-type {
              padding-right: 0px;
          }
  
          .dark .navigation li a {
              color: #363636;
          }
  
          .light .navigation li a {
              color: #4f4f4f;
          }
  
          .dark .navigation a:hover {
              color: #EB0A1E;
          }
  
          .navigation a.active {
              color: #990000 !important;
              font-weight: 600;
          }
  
  
  
          .SF_logo {
              width: 50px;
          }
        
        
  
          footer,
          .footer {
              background: #555559;
              line-height: 1.5em;
              text-align: center;
              color: #9B9B9B;
              border-top: 3px solid #EB0A1E;
          }
  
          .footer .disclaimer .salesforce,
          .main-footer .disclaimer .salesforce {
              background: url(https://s3.amazonaws.com/nto/images/logo-salesforce.svg) no-repeat center center;
              background-size: contain;
              display: inline-block;
              height: 37px;
              position: relative;
              top: 16px;
              width: 60px;
          }
  
          .slds-text-heading_x-large {
              color: #EB0A1E;
              line-height: 2.1rem;
          }
  
          #POV {
              background: #ffffff;
             background-image: url('https://image.s4.sfmc-content.com/lib/fe8e15747d60017e7d/m/1/c9bf10a7-b30f-4311-b1e4-808fcb3de6b2.png');
              background-repeat: no-repeat;
              background-position: bottom right;
              background-size:70%;
          }
          
        
  
          .callbacks_nav {
              background: transparent url("https://image.s4.sfmc-content.com/lib/fe9615737265077870/m/1/329d7c49-f5bb-469b-921d-ae3fcfb69178.png") no-repeat left top;
              background-size: 80px;
          }
  
     
  
          #Solution1, #Solution3,  {
              background: #fff;
          }
           
          .fa-ul{
              margin-left: 2em;
              margin-bottom: 20px;
          }
          
          .fa-li{
              color:#c00;
          }
  
  
  
          /*********Global Colors***************/
          body {
              margin: 0;
              font-family: 'Open Sans', sans-serif, "Helvetica Neue", Arial;
              font-size: 12px;
              font-weight: 400;
              line-height: 1.8rem;
              color: #575757;
              text-align: left;
              background-color: #f7f7f7;
          }
  
          h1,
          h2,
          h3,
          h4 {
              color: #333333 !important;
          }
  
          p {
              color: #4F4F4F;
              font-size: 14px;
              line-height: 1.8rem;
          }
   .slds-button-group-row span{
              display: inline-block;
          }
  
  
         /** button,
          .button {
              font-size: 1.15rem;
              text-transform: uppercase;
              text-decoration: none;
              padding: .5rem 1rem;
          }
  
          button:hover,
          .button:hover {
              opacity: .7;
              color: #ffffff !important;
          }******/
  
          .footer a {
              color: #9B9B9B !important;
              text-decoration: none;
              font-size: 1em;
          }
  
          .footer a:hover {
              text-decoration: underline;
          }
  
          .slds-text-heading_x-large {
              font-size: 3em;
          }
  
          .serif {
              font-family: 'Baskerville', 'Times', serif;
          }
  
          .slds-text-heading_medium {
              line-height: 2rem;
          }
  
          .sm-hr {
              width: 100%;
              max-width: 100px;
              height: 1px;
              background: #ffffff;
              margin: 0 auto;
          }
          .sm-photo {
                  width: 50%;
                  height: auto;
              }
  
          iframe {
              margin: auto;
              width: 500px;
              height: 300px;
              border: solid 1px #ffffff;
          }
  
          .slds-text-color_inverse {
              color: #ffffff !important;
          }
          
          
  
  
  
  
          /*********Form Styling*****************/
          .formfield-input input {
      background-color: #FFFFFF;
      border: 1px solid #DDDBDA;
      border-radius: 0.25rem;
      color: #4F4F4F;
      width: 100%;
      transition: border 0.1s linear, background-color 0.1s linear;
      display: inline-block;
      line-height: 1.875rem;
      font-size: 0.75rem;
      min-height: calc(1.875rem + 2px);
  }   
          
          .formfield-input input::placeholder {color: #bbbbbb;}
          
          .slds-form-element__label {
      padding: 2px .7rem 0;
      display: inline-block;
      font-size: 0.75rem;
      color: #474747;
              font-weight: normal;
  }
          
       .form-button, button.buttonblock, td.buttonblock {
      font-size: 16px;
      color: #FFFFFF;
      text-align: center;
      text-decoration: none;
      display: block;
      padding: 12px 60px;
      border-radius: 3px;
      margin: 30px auto;
      text-transform: uppercase;
              background-color: #c00;
      border: 1px solid #c00;
      -webkit-appearance: none !important;
  } 
          
          .form-wrapper{
              border:2px solid #f2f2f2;
              background-color: #f2f2f2;
          }
          
          .confirmed_icon {
      color: #c00;
      font-size: 50px;
          }
          /*********Mobile Styling***************/
          @media (max-width: 768px) {
              .mobile-hidden {
                  display: none;
              }
  
              .mobile-show {
                  display: block;
              }
  
              .logo {
                  text-align: left;
              }
  
              .logo img {
                  margin: 0px auto;
              }
              
              .hamburger{
                  text-align: right;
                  cursor: pointer;
                  font-size: 1.4rem;
              }
  
              .tmp-container {
                  width: 100%;
              }
  
              .hero {
                  width: 100%;
              }
  
              .tmp--full-width {
                  width: 100%;
                  float: left;
                  padding: 0px !important;
              }
  
              .tmp--full-width-center {
                  width: 100%;
                  float: left;
                  padding: 10px 0px;
                  text-align: center;
              }
  
              .wrapper-padding {
                  padding: 20px;
              }
  
              .photo {
                  width: 100%;
                  height: auto;
              }
              .sm-photo {
                  width: 50%;
                  height: auto;
              }
  
              .row {
                  width: 100%;
              }
  
              .tmp--hide {
                  display: none;
              }
  
              .slds-container_large#Trailmap {
                  padding: 0px !important;
              }
  
            
  
              .slds-p-right_x-large,
              .slds-p-right--x-large {
                  padding-right: 0;
              }
  
              .slds-p-bottom_x-large,
              .slds-p-bottom--x-large {
                  padding-bottom: 1.5rem;
              }
  
              .slds-p-left_x-large,
              .slds-p-left--x-large {
                  padding-left: 0;
              }
  
              .slds-p-vertical_x-large,
              .slds-p-vertical--x-large {
                  padding-top: 1.5rem;
                  padding-bottom: 1.5rem;
              }
  
              .slds-p-horizontal_x-large,
              .slds-p-horizontal--x-large {
                  padding-right: 1.5rem;
                  padding-left: 1.5rem;
              }
  
              .slds-p-top_x-large,
              .slds-p-top--x-large,
              .slds-p-top_xx-large {
                  padding-top: 1.5rem;
              }
  
              .slds-p-around_x-large,
              .slds-p-around--x-large {
                  padding: 1.5rem;
              }
  
              .slds-size_1-of-1,
              .slds-size--1-of-1 {
                  width: 100%;
              }
  
              .slds-size_1-of-2,
              .slds-size--1-of-2 {
                  width: 50%;
              }
  
              .slds-size_1-of-3,
              .slds-size--1-of-3 {
                  width: 33.3333%;
              }
  
              .slds-size_2-of-3,
              .slds-size--2-of-3 {
                  width: 66.6667%;
              }
  
              .slds-size_1-of-4,
              .slds-size--1-of-4 {
                  width: 25%;
              }
  
              .slds-size_2-of-4,
              .slds-size--2-of-4 {
                  width: 50%;
              }
  
              .slds-size_3-of-4,
              .slds-size--3-of-4 {
                  width: 75%;
              }
  
              body {
                  text-align: center;
              }
  
              iframe {
                  margin: auto;
                  width: 90%;
                  height: 300px;
              }
              
                #POV {
            
              background-size:100%;
          }
              .navigation{
                  display: none;
              }
              
              .navigation li{
                  display: block;
                  text-align: center;
                  padding: 10px 0;
              }
              
              .navigation li:last-of-type {
                  padding-bottom: 20px;
              }
  
          }
          
          @media only screen and (max-width: 1068px){
            .slds-container_large {
                  padding-left: 20px;
                  padding-right: 20px;
              }
          }
  
  
  
  
          @media screen and (min-width: 768px) {
              .mobile-show {
                  display: none;
              }
  
  
          }
  
          @media (max-width: 1068px) and (min-width: 768px) and (orientation: portrait) {
              .tmp-container {
                  width: 100%;
              }
          }
  
          @media (max-width: 1068px) and (min-width: 768px) and (orientation: landscape) {
              .tmp-container {
                  width: 100%;
              }
          }
  
          @media only screen and (max-width: 480px) {
  
              body,
              .tb_properties { 
                  padding: 0px;
              }
  
              .buttonstyles {
                  padding: 10px 40px;
              }
          }